.show-props i{
    position: absolute;
    right:0;
    margin-right:-35px;
    opacity:.3;
    cursor:pointer;
}

.show-props{
    position:relative;
}

.show-props i:hover{
    opacity:.8;
}

.cmpWrapper{
    margin-top:50px;
    width: 100%;
}